
@{
    ViewBag.Title = "erro";
}
<div style="width: 100%; height: 90vh; position: relative;">
    <img src="~/img/undraw_page_not_found_su7k.png" class="error" style="top: 35%; width: 45%;" />
    <h1 class="error" style="font-size: 2.5rem; text-transform: uppercase; top: 68%">Página não encontrada</h1>
</div>


