@{
    ViewBag.Title = "Home Page";
}

<header>
    <h1>neo virtual park</h1>
    <h6>software para gerenciamento de estacionamentos</h6>
    @Html.ActionLink("Acessar", "Login", "Home", new { area = "" }, new { @class = "btn btn--login" })
    @*<a href="~/Views/Home/Login.cshtml" class="btn" id="btn-login">Login</a>*@
</header>

<section class="pattern">
    <h3>nosso trabalho</h3>
    <p>
        O objetivo do Neo Virtual Park é ajudar no gerenciamento e automação de estacionamentos, pois muitos desses locais ainda utilizam
        métodos ultrapassados para gerenciar seus negócios, como papel e caneta. Possuímos um agil controle de entrada e saída de dinheiro,
        fluxo de caixa com todos os registros, controle de usuários e suas ações pelo login, além de impressão de uma nota com dados básicos;
        Tudo para aprimorar a experiência dos clientes e gerentes.
    </p>
</section>

<section class="pattern__describe">
    <h3 class="pos">Serviços</h3>
    <div class="pattern__describe--infos">
        <i class="fas fa-chart-line"></i>
        <p>
            Nosso objetivo é ajudar no gerenciamento de estacionamentos, com o intuito de automatizar e aprimorar
            a maneira como eles trabalham.
        </p>
    </div>
    <div class="pattern__describe--infos">
        <i class="fas fa-dollar-sign"></i>
        <p>
            O sistema possui um fluxo de caixa que apresenta todos os registros de movimentação do
            estacionamento.
        </p>
    </div>
    <div class="pattern__describe--infos">
        <i class="fas fa-stopwatch"></i>
        <p>
            O sistema possui um ágil controle de entrada e saída que auxilia na rotatividade, calculando o tempo
            e o
            valor a pagar de cada carro
        </p>
    </div>
    <div class="pattern__describe--infos">
        <i class="fas fa-user"></i>
        <p>
            O cadastro é fundamental para acessar o sistema, assim ficará visível quem realizou todas as ações,
            tornando-a
            responsável pelas mesmas.
        </p>
    </div>
</section>

<footer>
    <p>&copy; Neo virtual park - Todos os direitos reservados</p>
</footer>

